$background-add-code = #e2e8f8
$text-color = #838383
$badge-color = red
$blue-color = #3361ff
$background-color = #f8f9fa
$icons-color = #b7c1d7
$background-block = #fdfdfd
$color-black = black
$text-color-black = #3f547f
$color-sd = #e42e7a
$color-sg = #3360fd
$color-fd = #3de5cc
$color-mh1 = #29ca39
$color-mh2 = #e42f2f
$color-mh3 = #e4317c
$color-kl = #ca7329
$border-color= #eef0f5
$text-sidebar= #6d7fa3



$text-navi {
  text-align left
  font-family Roboto
  font-weight 600
  color $text-sidebar
  margin-left 5px
}